.msg-erro {
    color:red;
    font-size: 10px;
    clear: both;
    position: relative;
  }

  h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5rem;
  }

  ion-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  .oneimput{
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
